# SPDX-FileCopyrightText: 2017-2022 2017 Martynas Jusevicius, <martynas@atomgraph.com> et al.
#
# SPDX-License-Identifier: Apache-2.0

/target
/certs
/.env
/data
/uploads
/nb-configuration.xml
/node
/node_modules
/docker-compose.override.yml
/ssl
