@prefix adm:    <ns#> .
@prefix rdfs:	<http://www.w3.org/2000/01/rdf-schema#> .
@prefix xsd:	<http://www.w3.org/2001/XMLSchema#> .
@prefix cert:   <http://www.w3.org/ns/auth/cert#> .
@prefix dh:	<https://www.w3.org/ns/ldt/document-hierarchy/domain#> .
@prefix sioc:	<http://rdfs.org/sioc/ns#> .
@prefix foaf:	<http://xmlns.com/foaf/0.1/> .
@prefix dct:    <http://purl.org/dc/terms/> .

# AGENT

<acl/agents/e413f97b-15ee-47ea-ba65-4479aa7f1f9e/> a adm:AgentItem ;
    sioc:has_container <acl/agents/> ;
    dct:title "LinkedDataHub" ;
    foaf:primaryTopic <acl/agents/e413f97b-15ee-47ea-ba65-4479aa7f1f9e/#this> .

<acl/agents/e413f97b-15ee-47ea-ba65-4479aa7f1f9e/#this> a adm:Agent ;
    foaf:name "LinkedDataHub" ;
    foaf:isPrimaryTopicOf <acl/agents/e413f97b-15ee-47ea-ba65-4479aa7f1f9e/> ;
    cert:key <acl/public-keys/b957f349-d0a0-4b1b-a579-5bb9344b04f3/#this> .

# PUBLIC KEY

<acl/public-keys/b957f349-d0a0-4b1b-a579-5bb9344b04f3/> a adm:PublicKeyItem ;
    dct:title "LinkedDataHub" ;
    foaf:primaryTopic <acl/public-keys/b957f349-d0a0-4b1b-a579-5bb9344b04f3/#this> .

<acl/public-keys/b957f349-d0a0-4b1b-a579-5bb9344b04f3/#this> a adm:PublicKey ;
    rdfs:label "LinkedDataHub" ;
    foaf:isPrimaryTopicOf <acl/public-keys/b957f349-d0a0-4b1b-a579-5bb9344b04f3/> ;
    cert:modulus "${secretary_cert_modulus}"^^xsd:hexBinary;
    cert:exponent 65537 .

# AUTHORIZATION

# secretary is a member of the writers group

<acl/groups/writers/#this> foaf:member <acl/agents/e413f97b-15ee-47ea-ba65-4479aa7f1f9e/#this> .