@prefix adm:    <ns#> .
@prefix rdfs:	<http://www.w3.org/2000/01/rdf-schema#> .
@prefix xsd:	<http://www.w3.org/2001/XMLSchema#> .
@prefix cert:   <http://www.w3.org/ns/auth/cert#> .
@prefix dh:	<https://www.w3.org/ns/ldt/document-hierarchy/domain#> .
@prefix apl:	<http://atomgraph.com/ns/platform/domain#> .
@prefix sioc:	<http://rdfs.org/sioc/ns#> .
@prefix void:   <http://rdfs.org/ns/void#> .
@prefix foaf:	<http://xmlns.com/foaf/0.1/> .
@prefix dct:    <http://purl.org/dc/terms/> .

# AGENT

<graphs/92d354a0-4689-4021-bd8e-8fb8e297a600/>
{

    <graphs/bb5ef5b5-6a2b-48a7-a482-97a7a79d50c5/> a dh:Item ;
        sioc:has_space <> ;
        sioc:has_container <graphs/> ;
        foaf:primaryTopic <graphs/bb5ef5b5-6a2b-48a7-a482-97a7a79d50c5/#this> .

    <graphs/bb5ef5b5-6a2b-48a7-a482-97a7a79d50c5/#this> a apl:Dataset ;
        foaf:isPrimaryTopicOf <graphs/bb5ef5b5-6a2b-48a7-a482-97a7a79d50c5> .

    <acl/agents/e413f97b-15ee-47ea-ba65-4479aa7f1f9e/> sioc:has_space <> ;
        sioc:has_container <acl/agents/> ;
        dh:slug "e413f97b-15ee-47ea-ba65-4479aa7f1f9e" ;
        void:inDataset <graphs/bb5ef5b5-6a2b-48a7-a482-97a7a79d50c5/#this> .

}

<graphs/bb5ef5b5-6a2b-48a7-a482-97a7a79d50c5/>
{

    <acl/agents/e413f97b-15ee-47ea-ba65-4479aa7f1f9e/> a adm:AgentItem ;
        dct:title "LinkedDataHub" ;
        foaf:primaryTopic <acl/agents/e413f97b-15ee-47ea-ba65-4479aa7f1f9e/#this> .

    <acl/agents/e413f97b-15ee-47ea-ba65-4479aa7f1f9e/#this> a adm:Agent ;
        foaf:name "LinkedDataHub" ;
        foaf:isPrimaryTopicOf <acl/agents/e413f97b-15ee-47ea-ba65-4479aa7f1f9e/> ;
        cert:key <acl/public-keys/b957f349-d0a0-4b1b-a579-5bb9344b04f3/#this> .

}

# PUBLIC KEY

<graphs/cfe892cd-be76-43a9-b499-c0daf02c7d3b/>
{

    <graphs/2b79f161-e423-4ff2-8fb2-e4adcb3a021f/> a dh:Item ;
        sioc:has_space <> ;
        sioc:has_container <graphs/> ;
        foaf:primaryTopic <graphs/2b79f161-e423-4ff2-8fb2-e4adcb3a021f/#this> .

    <graphs/2b79f161-e423-4ff2-8fb2-e4adcb3a021f/#this> a apl:Dataset ;
        foaf:isPrimaryTopicOf <graphs/2b79f161-e423-4ff2-8fb2-e4adcb3a021f/> .

    <acl/public-keys/b957f349-d0a0-4b1b-a579-5bb9344b04f3/> sioc:has_space <> ;
        sioc:has_container <acl/public-keys/> ;
        dh:slug "b957f349-d0a0-4b1b-a579-5bb9344b04f3" ;
        void:inDataset <graphs/2b79f161-e423-4ff2-8fb2-e4adcb3a021f/#this> .

}

<graphs/2b79f161-e423-4ff2-8fb2-e4adcb3a021f/>
{

    <acl/public-keys/b957f349-d0a0-4b1b-a579-5bb9344b04f3/> a adm:PublicKeyItem ;
        dct:title "LinkedDataHub" ;
        foaf:primaryTopic <acl/public-keys/b957f349-d0a0-4b1b-a579-5bb9344b04f3/#this> .

    <acl/public-keys/b957f349-d0a0-4b1b-a579-5bb9344b04f3/#this> a adm:PublicKey ;
        rdfs:label "LinkedDataHub" ;
        foaf:isPrimaryTopicOf <acl/public-keys/b957f349-d0a0-4b1b-a579-5bb9344b04f3/> ;
        cert:modulus "${secretary_cert_modulus}"^^xsd:hexBinary;
        cert:exponent 65537 .

}

# AUTHORIZATION

# secretary is a member of the writers group

<graphs/8ef85389-4114-43fe-8023-e1f399e56b94/>
{

    <acl/groups/writers/#this> foaf:member <acl/agents/e413f97b-15ee-47ea-ba65-4479aa7f1f9e/#this> .

}