<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
    id="linkeddatahub" version="3.0">
    <display-name>AtomGraph Platform</display-name>
    <description>Multi-tenant Linked Data platform</description>
    <!-- context-params are set in docker-compose via conf/ROOT.xml -->
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#authCacheControl</param-name>
        <param-value>max-age=69</param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#authQuery</param-name>
        <param-value><![CDATA[
PREFIX  rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX  acl:  <http://www.w3.org/ns/auth/acl#>
PREFIX  lacl: <https://w3id.org/atomgraph/linkeddatahub/admin/acl/domain#>
PREFIX  foaf: <http://xmlns.com/foaf/0.1/>
PREFIX  sioc: <http://rdfs.org/sioc/ns#>

DESCRIBE ?auth
FROM <urn:x-arq:UnionGraph>
WHERE
  {   { ?auth  acl:mode  ?Mode
          { ?auth  acl:accessTo  ?this }
        UNION
          {   { ?auth  acl:accessToClass  ?Type }
            UNION
              { ?auth  acl:accessToClass  ?Class .
                ?Type (rdfs:subClassOf)* ?Class
              }
            SERVICE ?endpoint
              { { GRAPH ?g
                    { ?this  a  ?Type }
                }
              }
          }
        {   { ?auth  acl:agent  ?agent }
          UNION
            { ?auth   acl:agentGroup  ?Group .
              ?Group  foaf:member     ?agent
            }
        }
      }
    UNION
      { ?auth  acl:mode  ?Mode
          { ?auth  acl:agentClass  foaf:Agent }
        UNION
          { ?auth  acl:agentClass  ?AuthenticatedAgentClass }
          { ?auth  acl:accessTo  ?this }
        UNION
          {   { ?auth  acl:accessToClass  ?Type }
            UNION
              { ?auth  acl:accessToClass  ?Class .
                ?Type (rdfs:subClassOf)* ?Class
              }
            SERVICE ?endpoint
              { { GRAPH ?g
                    { ?this  a  ?Type }
                }
              }
          }
      }
  }
]]></param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#ownerAuthQuery</param-name>
        <param-value><![CDATA[
PREFIX  rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX  acl:  <http://www.w3.org/ns/auth/acl#>
PREFIX  lacl: <https://w3id.org/atomgraph/linkeddatahub/admin/acl/domain#>
PREFIX  foaf: <http://xmlns.com/foaf/0.1/>
PREFIX  sioc: <http://rdfs.org/sioc/ns#>

DESCRIBE ?auth
FROM <urn:x-arq:UnionGraph>
WHERE
  {   { ?auth  acl:mode           acl:Control .
        ?doc   foaf:primaryTopic  ?auth
          { ?auth  acl:agent  ?agent }
        UNION
          { ?auth   acl:agentGroup  ?Group .
            ?Group  foaf:member     ?agent
          }
      }
    UNION
      { ?auth  acl:agentClass  ?AuthenticatedAgentClass ;
               acl:mode        ?Mode
          { ?auth  acl:accessTo  ?this
            OPTIONAL
              { ?this  a  ?Type }
          }
        UNION
          { ?this  a  ?Type
              { ?auth  acl:accessToClass  ?Type }
            UNION
              { ?auth  acl:accessToClass  ?Class .
                ?Type (rdfs:subClassOf)* ?Class
              }
          }
      }
    UNION
      { ?auth  acl:agentClass  foaf:Agent ;
               acl:mode        acl:Read
          { ?auth  acl:accessTo  ?this
            OPTIONAL
              { ?this  a  ?Type }
          }
        UNION
          { ?this  a  ?Type
              { ?auth  acl:accessToClass  ?Type }
            UNION
              { ?auth  acl:accessToClass  ?Class .
                ?Type (rdfs:subClassOf)* ?Class
              }
          }
      }
  }
]]></param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#agentQuery</param-name>
        <param-value><![CDATA[
DESCRIBE ?Agent
WHERE
  { GRAPH ?g
      { ?Agent  ?p  ?o }
  }
]]></param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#userAccountQuery</param-name>
        <param-value><![CDATA[
PREFIX  lacl: <https://w3id.org/atomgraph/linkeddatahub/admin/acl/domain#>
PREFIX  sioc: <http://rdfs.org/sioc/ns#>

DESCRIBE ?account ?agent
WHERE
  { GRAPH ?g
      { ?account  sioc:id          ?id ;
                  lacl:issuer      ?issuer ;
                  sioc:account_of  ?agent
      }
  }
]]></param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#webIDQuery</param-name>
<!--        <param-value><![CDATA[
PREFIX cert:    <http://www.w3.org/ns/auth/cert#>
            
SELECT *
{
   ?webid cert:key [
      cert:modulus ?mod ;
      cert:exponent ?exp
   ] .
}
]]></param-value>-->
        <!-- we use this query version temporarily due to this Jena bug: https://issues.apache.org/jira/browse/JENA-1936 -->
        <param-value><![CDATA[
PREFIX cert:    <http://www.w3.org/ns/auth/cert#>
            
SELECT *
{
   ?webid cert:key [
      cert:modulus ?certMod ;
      cert:exponent ?exp
   ] .
   FILTER (?certMod = ?mod)
}
]]></param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#putUpdate</param-name>
        <param-value><![CDATA[
PREFIX  dct:  <http://purl.org/dc/terms/>
PREFIX  void: <http://rdfs.org/ns/void#>

INSERT {
  GRAPH ?graphGraphDoc {
    ?this dct:modified ?modified .
  }
}
WHERE
  { GRAPH ?graphGraphDoc
      { ?this  void:inDataset  ?graph ;
               dct:created     ?created
      }
    BIND(now() AS ?modified)
  }
]]></param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#deleteUpdate</param-name>
        <param-value><![CDATA[
PREFIX  void: <http://rdfs.org/ns/void#>

DELETE WHERE
{
  GRAPH ?graphGraphDoc {
    ?this void:inDataset ?graph .
    ?s ?p ?o .
  }
}
]]></param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#signUpAddress</param-name>
        <param-value><![CDATA[LinkedDataHub <signup@linkeddatahub.com>]]></param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#signUpEMailSubject</param-name>
        <param-value>[%s] Signup of "%s" is complete</param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#webIDSignUpEMailText</param-name>
        <param-value><![CDATA[Congratulations! You have successfully completed the signup on LinkedDataHub's "%s" application.

A PKCS12 client certificate for your WebID is attached to this message. Download the file, install it into your web browser and restart the browser afterwards.

Get started with your LinkedDataHub application by following this guide: https://linkeddatahub.com/linkeddatahub/docs/get-started/

Application's base URI: %s
Your WebID profile: %s
Certificate expires on: %s


LinkedDataHub by AtomGraph
support@linkeddatahub.com]]></param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#oAuthSignUpEMailText</param-name>
        <param-value><![CDATA[Congratulations! You have successfully completed the signup on LinkedDataHub's "%s" application.

Get started with your LinkedDataHub application by following this guide: https://linkeddatahub.com/linkeddatahub/docs/get-started/

Application's base URI: %s
Your WebID profile: %s


LinkedDataHub by AtomGraph
support@linkeddatahub.com]]></param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#notificationAddress</param-name>
        <param-value><![CDATA[LinkedDataHub <notifications@linkeddatahub.com>]]></param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#requestAccessEMailSubject</param-name>
        <param-value>[%s] Request for access</param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#requestAccessEMailText</param-name>
        <param-value><![CDATA[Agent %s has requested access to the resource: %s

Manage it here: %s


LinkedDataHub by AtomGraph
support@linkeddatahub.com]]></param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/client#resolvingUncached</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/core#preemptiveAuth</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#invalidateCache</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>http://atomgraph.com/github#clientID</param-name>
        <param-value>4ec00694a7806c141816</param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/client#prefixMapping</param-name>
        <param-value>prefix-mapping.n3</param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#cookieMaxAge</param-name>
        <param-value>86400</param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#signUpCertValidity</param-name>
        <param-value>90</param-value>
    </context-param>
    <servlet>
        <servlet-name>com.atomgraph.linkeddatahub.Application</servlet-name>
    </servlet>
    <listener>
        <listener-class>com.atomgraph.core.util.jena.StartupListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.atomgraph.linkeddatahub.listener.ImportListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.atomgraph.linkeddatahub.listener.EMailListener</listener-class>
    </listener>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
        <url-pattern>/robots.txt</url-pattern>
        <url-pattern>/favicon.ico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.atomgraph.linkeddatahub.Application</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <filter>
       <filter-name>ExpiresFilter</filter-name>
       <filter-class>org.apache.catalina.filters.ExpiresFilter</filter-class>
       <init-param>
          <param-name>ExpiresByType image/jpeg</param-name>
          <param-value>access plus 1 year</param-value>
       </init-param>
       <init-param>
          <param-name>ExpiresByType image/gif</param-name>
          <param-value>access plus 1 year</param-value>
       </init-param>
       <init-param>
          <param-name>ExpiresByType image/png</param-name>
          <param-value>access plus 1 year</param-value>
       </init-param>
       <init-param>
          <param-name>ExpiresByType image/webp</param-name>
          <param-value>access plus 1 year</param-value>
       </init-param>
       <init-param>
          <param-name>ExpiresByType image/svg+xml</param-name>
          <param-value>access plus 1 year</param-value>
       </init-param>
       <init-param>
          <param-name>ExpiresByType image/x-icon</param-name>
          <param-value>access plus 1 year</param-value>
       </init-param>
       <init-param>
          <param-name>ExpiresByType video/webm</param-name>
          <param-value>access plus 1 year</param-value>
       </init-param>
       <init-param>
          <param-name>ExpiresByType video/mp4</param-name>
          <param-value>access plus 1 year</param-value>
       </init-param>
       <init-param>
          <param-name>ExpiresByType video/mpeg</param-name>
          <param-value>access plus 1 year</param-value>
       </init-param>
       <init-param>
          <param-name>ExpiresByType text/css</param-name>
          <param-value>access plus 1 year</param-value>
       </init-param>
       <init-param>
          <param-name>ExpiresByType text/javascript</param-name>
          <param-value>access plus 1 year</param-value>
       </init-param>
       <init-param>
          <param-name>ExpiresByType application/javascript</param-name>
          <param-value>access plus 1 year</param-value>
       </init-param>
    </filter>
    <filter-mapping>
       <filter-name>ExpiresFilter</filter-name>
       <url-pattern>/static/*</url-pattern>
       <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>HSTS filter</filter-name>
        <filter-class>org.apache.catalina.filters.HttpHeaderSecurityFilter</filter-class>
        <init-param>
            <param-name>hstsEnabled</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>hstsMaxAgeSeconds</param-name>
            <param-value>31536000</param-value>
        </init-param>
        <init-param>
            <param-name>hstsIncludeSubDomains</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>antiClickJackingEnabled</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>blockContentTypeSniffingEnabled</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>xssProtectionEnabled</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>HSTS filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <mime-mapping>
        <extension>xsl</extension>
        <mime-type>text/xsl;charset=UTF-8</mime-type>
    </mime-mapping>
</web-app>