<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
    id="linkeddatahub" version="3.0">
    <display-name>AtomGraph Platform</display-name>
    <description>Multi-tenant Linked Data platform</description>
    <!-- context-params are set in docker-compose via conf/ROOT.xml -->
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#authCacheControl</param-name>
        <param-value>max-age=69</param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#authQuery</param-name>
        <param-value><![CDATA[
PREFIX  rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX  acl:  <http://www.w3.org/ns/auth/acl#>
PREFIX  lacl: <https://w3id.org/atomgraph/linkeddatahub/admin/acl/domain#>
PREFIX  foaf: <http://xmlns.com/foaf/0.1/>
PREFIX  sioc: <http://rdfs.org/sioc/ns#>

DESCRIBE ?auth
FROM <urn:x-arq:UnionGraph>
WHERE
  {   { ?auth  acl:mode              ?Mode ;
               foaf:isPrimaryTopicOf  ?doc .
          { ?auth  acl:accessTo  ?this }
        UNION
          { SERVICE ?endpoint
              {   { ?this  a                     ?Type }
                UNION
                  { GRAPH ?g
                      { ?this  a                     ?Type }
                  }
              }
              { ?auth  acl:accessToClass  ?Type }
            UNION
              { ?auth  acl:accessToClass  ?Class .
                ?Type (rdfs:subClassOf)* ?Class
              }
          }
        {   { ?auth  acl:agent  ?agent }
          UNION
            { ?auth   acl:agentClass  ?Group .
              ?Group  foaf:member     ?agent
            }
        }
      }
    UNION
      { ?auth  acl:mode  ?Mode
          { ?auth  acl:agentClass  foaf:Agent }
        UNION
          { ?auth  acl:agentClass  ?AuthenticatedAgentClass } # must be set to acl:AuthenticatedAgent/rdfs:Resource
          { ?auth  acl:accessTo  ?this }
        UNION
          { SERVICE ?endpoint
              {   { ?this  a                     ?Type }
                UNION
                  { GRAPH ?g
                      { ?this  a                     ?Type }
                  }
              }
              { ?auth  acl:accessToClass  ?Type }
            UNION
              { ?auth  acl:accessToClass  ?Class .
                ?Type (rdfs:subClassOf)* ?Class
              }
          }
      }
    UNION
      { ?CreatorAuthorizationSubClass (rdfs:subClassOf)* lacl:CreatorAuthorization . 
        ?auth  a                     ?CreatorAuthorizationSubClass ;
               acl:agentClass        ?AuthenticatedAgentClass
          { ?auth  acl:accessToClass  ?Type }
        UNION
          { ?auth  acl:accessToClass  ?Class .
            ?Type (rdfs:subClassOf)* ?Class
          }
        SERVICE ?endpoint
          { GRAPH ?g
              { ?this  a                     ?Type
                GRAPH ?metaG
                  { ?this  foaf:maker  ?agent }
              }
          }
      }
  }
]]></param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#ownerAuthQuery</param-name>
        <param-value><![CDATA[
PREFIX  rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX  acl:  <http://www.w3.org/ns/auth/acl#>
PREFIX  lacl: <https://w3id.org/atomgraph/linkeddatahub/admin/acl/domain#>
PREFIX  foaf: <http://xmlns.com/foaf/0.1/>
PREFIX  sioc: <http://rdfs.org/sioc/ns#>

DESCRIBE ?auth
FROM <urn:x-arq:UnionGraph>
WHERE
  {   { ?auth  acl:mode              acl:Control ;
               foaf:isPrimaryTopicOf  ?doc .
        # ?doc   sioc:has_space        ?base
          { ?auth  acl:agent  ?agent }
        UNION
          { ?auth   acl:agentClass  ?Group .
            ?Group  foaf:member     ?agent
          }
      }
    UNION
      { ?auth  acl:agentClass  ?AuthenticatedAgentClass ; # must be set to acl:AuthenticatedAgent/rdfs:Resource
               acl:mode        ?Mode
          { ?auth  acl:accessTo  ?this }
        UNION
          { ?this  a                     ?Type
              { ?auth  acl:accessToClass  ?Type }
            UNION
              { ?auth  acl:accessToClass  ?Class .
                ?Type (rdfs:subClassOf)* ?Class
              }
          }
      }
    UNION
      { ?auth  acl:agentClass  foaf:Agent ;
               acl:mode        acl:Read
          { ?auth  acl:accessTo  ?this }
        UNION
          { ?this  a                     ?Type
              { ?auth  acl:accessToClass  ?Type }
            UNION
              { ?auth  acl:accessToClass  ?Class .
                ?Type (rdfs:subClassOf)* ?Class
              }
          }
        # only signup, OAuth2 login and WebID profiles can be public in admin app, nothing else
        FILTER ( ?Type IN (uri(concat(str(?Ontology), "SignUp")), uri(concat(str(?Ontology), "AuthorizeGoogle")), uri(concat(str(?Ontology), "OAuth2Login")), uri(concat(str(?Ontology), "AgentItem")), uri(concat(str(?Ontology), "PublicKeyItem"))) )
      }
    UNION
      { ?CreatorAuthorizationSubClass (rdfs:subClassOf)* lacl:CreatorAuthorization .
        ?auth  a                     ?CreatorAuthorizationSubClass ;
               acl:agentClass        ?AuthenticatedAgentClass
          { ?auth  acl:accessToClass  ?Type }
        UNION
          { ?auth  acl:accessToClass  ?Class .
            ?Type (rdfs:subClassOf)* ?Class
          }
        { ?this  a                     ?Type ;
                 foaf:maker            ?agent
        }
      }
  }
]]></param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#agentQuery</param-name>
        <param-value><![CDATA[
DESCRIBE ?Agent
WHERE
  { GRAPH ?g
      { ?Agent  ?p  ?o }
  }
]]></param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#userAccountQuery</param-name>
        <param-value><![CDATA[
PREFIX  lacl: <https://w3id.org/atomgraph/linkeddatahub/admin/acl/domain#>
PREFIX  sioc: <http://rdfs.org/sioc/ns#>

DESCRIBE ?account ?agent
WHERE
  { GRAPH ?g
      { ?account  sioc:id          ?id ;
                  lacl:issuer      ?issuer ;
                  sioc:account_of  ?agent
      }
  }
]]></param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#webIDQuery</param-name>
<!--        <param-value><![CDATA[
PREFIX cert:    <http://www.w3.org/ns/auth/cert#>
            
SELECT *
{
   ?webid cert:key [
      cert:modulus ?mod ;
      cert:exponent ?exp
   ] .
}
]]></param-value>-->
        <!-- we use this query version temporarily due to this Jena bug: https://issues.apache.org/jira/browse/JENA-1936 -->
        <param-value><![CDATA[
PREFIX cert:    <http://www.w3.org/ns/auth/cert#>
            
SELECT *
{
   ?webid cert:key [
      cert:modulus ?certMod ;
      cert:exponent ?exp
   ] .
   FILTER (?certMod = ?mod)
}
]]></param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#appQuery</param-name>
        <param-value><![CDATA[
PREFIX  ldt:  <https://www.w3.org/ns/ldt#>
PREFIX  lapp: <https://w3id.org/atomgraph/linkeddatahub/apps/domain#>

DESCRIBE ?app ?service ?adminApp ?adminService ?endUserApp ?endUserService
WHERE
  { SELECT  *
    WHERE
      { ?app  ldt:base     ?base .
        OPTIONAL
          {
            ?app ldt:service  ?service
          }
        OPTIONAL
          { ?app      lapp:adminApplication  ?adminApp .
            ?adminApp  ldt:service          ?adminService
          }
        OPTIONAL
          { ?app      lapp:endUserApplication  ?endUserApp .
            ?endUserApp  ldt:service        ?endUserService
          }
        FILTER strstarts(str(?this), str(?base))
        BIND(strlen(str(?base)) AS ?baseLength)
      }
    ORDER BY DESC(?baseLength)
    LIMIT   1
  }
]]></param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#sitemapQuery</param-name>
        <param-value><![CDATA[
PREFIX  rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX  owl:  <http://www.w3.org/2002/07/owl#>
PREFIX  foaf: <http://xmlns.com/foaf/0.1/>

### ?isDefinedBy value is set from code, so the variable name cannot be changed! ###
DESCRIBE ?isDefinedBy ?doc ?term
WHERE
  { GRAPH ?ontGraph
      { ?isDefinedBy  a                 ?type
        OPTIONAL
          { ?isDefinedBy  foaf:isPrimaryTopicOf  ?doc }
      }
    OPTIONAL
      { GRAPH ?termGraph
          { ?term  rdfs:isDefinedBy  ?isDefinedBy }
      }
  }
]]></param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#graphDocumentQuery</param-name>
        <param-value><![CDATA[
PREFIX  void: <http://rdfs.org/ns/void#>
PREFIX  foaf: <http://xmlns.com/foaf/0.1/>
PREFIX  sioc: <http://rdfs.org/sioc/ns#>

SELECT DISTINCT *
WHERE
  { GRAPH ?provGraph
      { ?this     foaf:primaryTopic  ?Dataset .
        ?Document  void:inDataset    ?Dataset
        GRAPH ?this
          { ?Document  ?p  ?o
            OPTIONAL
              {   { ?Document  sioc:has_parent  ?Container }
                UNION
                  { ?Document  sioc:has_container  ?Container }
              }
          }
      }
  }
]]></param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#restrictionsQuery</param-name>
        <param-value><![CDATA[
PREFIX ldt:	<https://www.w3.org/ns/ldt#>
PREFIX apl:	<https://w3id.org/atomgraph/linkeddatahub/domain#>
PREFIX rdf:     <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs:	<http://www.w3.org/2000/01/rdf-schema#>
PREFIX owl:	<http://www.w3.org/2002/07/owl#>
PREFIX sioc:	<http://rdfs.org/sioc/ns#>

SELECT DISTINCT *
{
    ?Class a rdfs:Class ; # not necessarily a ldt:Template
        rdfs:subClassOf ?Restriction .
    ?Restriction a owl:Restriction ;
        owl:onProperty ?onProperty .
    # FILTER (?Template != apl:GraphContainer)
    {
        ?Restriction owl:allValuesFrom ?allValuesFrom
    }
    UNION
    {
        ?Restriction owl:allValuesFrom [ a owl:Class ;
            owl:unionOf [
                rdf:rest*/rdf:first ?allValuesFrom
            ]
        ]
    }
}
]]></param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#putUpdate</param-name>
        <param-value><![CDATA[
PREFIX  dct:  <http://purl.org/dc/terms/>
PREFIX  void: <http://rdfs.org/ns/void#>

INSERT {
  GRAPH ?graphGraphDoc {
    ?this dct:modified ?modified .
  }
}
WHERE
  { GRAPH ?graphGraphDoc
      { ?this  void:inDataset  ?graph ;
               dct:created     ?created
      }
    BIND(now() AS ?modified)
  }
]]></param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#deleteUpdate</param-name>
        <param-value><![CDATA[
PREFIX  void: <http://rdfs.org/ns/void#>

DELETE WHERE
{
  GRAPH ?graphGraphDoc {
    ?this void:inDataset ?graph .
    ?s ?p ?o .
  }
}
]]></param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#ontologyImportQuery</param-name>
        <param-value><![CDATA[
PREFIX  ns:   <ns#>
PREFIX  rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX  owl:  <http://www.w3.org/2002/07/owl#>
PREFIX  acl:  <http://www.w3.org/ns/auth/acl#>
PREFIX  dh:   <https://www.w3.org/ns/ldt/document-hierarchy/domain#>
PREFIX  sp:   <http://spinrdf.org/sp#>
PREFIX  spin: <http://spinrdf.org/spin#>
PREFIX  dc:   <http://purl.org/dc/elements/1.1/>
PREFIX  dct:  <http://purl.org/dc/terms/>
PREFIX  foaf: <http://xmlns.com/foaf/0.1/>
PREFIX  sioc: <http://rdfs.org/sioc/ns#>

CONSTRUCT 
  { 
    ?sysOntology a ns:Ontology ;
        # owl:imports ns: ;
        owl:imports ?ontology ;
        rdfs:label ?ontologyLabel ;
        foaf:isPrimaryTopicOf ?sysOntologyItem .
    ?sysOntologyItem a ns:OntologyItem ;
        sioc:has_container <model/ontologies/> ;
        dct:title ?ontologyLabel ;
        foaf:primaryTopic ?sysOntology ;
        dh:slug ?ontologyUuid .
    ?sysClass a ns:Class ;
        rdfs:subClassOf ?class ;
        rdfs:label ?classLabel ;
        foaf:isPrimaryTopicOf ?sysClassItem ;
        rdfs:isDefinedBy ?sysOntology ;
        spin:constructor ?constructor .
    ?sysClassItem a ns:ClassItem ;
        sioc:has_container <model/classes/> ;
        dct:title ?classLabel ;
        foaf:primaryTopic ?sysClass ;
        dh:slug ?classUuid .
    ?constructor a ns:Query ;
        rdfs:label ?constructorLabel ;
        foaf:isPrimaryTopicOf ?constructorItem ;
        rdfs:isDefinedBy ?sysOntology ;
        sp:text ?constructorString .
    ?constructorItem a ns:QueryItem ;
        sioc:has_container <model/queries/> ;
        foaf:primaryTopic ?constructor ;
        dh:slug ?constructorUuid .
    ?auth a ns:Authorization ;
        rdfs:label ?ontologyLabel ;
        foaf:isPrimaryTopicOf ?authItem ;
        acl:accessTo ?nsDoc ;
        acl:agentClass foaf:Agent ;
        acl:agentClass acl:AuthenticatedAgent ;
        acl:mode acl:Read .
    ?authItem a ns:AuthorizationItem ;
        sioc:has_container <acl/authorizations/> ;
        foaf:primaryTopic ?auth ;
        dct:title ?ontologyLabel ;
        dh:slug ?authUuid .
  }
WHERE
  { ?ontology  a                    owl:Ontology
    BIND(struuid() AS ?ontologyUuid)
    BIND(uri(concat(str(<../ns/>), ?ontologyUuid)) AS ?nsDoc)
    BIND(uri(concat(str(?nsDoc), "#")) AS ?sysOntology)
    BIND(bnode() AS ?sysOntologyItem)
    BIND(bnode() AS ?auth)
    BIND(bnode() AS ?authItem)
    BIND(struuid() AS ?authUuid)
    OPTIONAL
      { ?ontology (rdfs:label|dc:title)|dct:title ?ontologyLabel }
    { SELECT  ?class (concat("CONSTRUCT { ", GROUP_CONCAT(?propConstructor ; separator=' . '), " } {}") AS ?constructorString)
      WHERE
        { ?class  a                     owl:Class
            { ?prop  rdfs:domain  ?class }
          UNION
            { ?prop  rdfs:domain  rdfs:Resource }
          UNION
            { ?prop  rdfs:domain  owl:Thing }
          UNION
            {   { ?prop  a                     owl:ObjectProperty }
              UNION
                { ?prop  a                     owl:DatatypeProperty }
              FILTER NOT EXISTS { ?prop  rdfs:domain  ?domain }
              BIND(rdfs:Resource AS ?domain)
            }
          OPTIONAL
            { ?prop  rdfs:domain  ?domain }
          BIND(concat("?this <", str(?prop), "> [ a <", str(?domain), "> ]") AS ?propConstructor)
        }
      GROUP BY ?class
    }
    FILTER strstarts(str(?class), str(?ontology))
    OPTIONAL
      { ?class  rdfs:label  ?classLabel
        BIND(concat(?classLabel, " constructor") AS ?constructorLabel)
      }
    BIND(bnode() AS ?constructor)
    BIND(bnode() AS ?constructorItem)
    BIND(bnode() AS ?sysClass)
    BIND(bnode() AS ?sysClassItem)
    BIND(struuid() AS ?constructorUuid)
    BIND(struuid() AS ?classUuid)
  }
]]></param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#signUpAddress</param-name>
        <param-value><![CDATA[LinkedDataHub <signup@linkeddatahub.com>]]></param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#signUpEMailSubject</param-name>
        <param-value>[%s] Signup of "%s" is complete</param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#webIDSignUpEMailText</param-name>
        <param-value><![CDATA[Congratulations! You have successfully completed the signup on LinkedDataHub's "%s" application.

A PKCS12 client certificate for your WebID is attached to this message. Download the file, install it into your web browser and restart the browser afterwards.

Get started with your LinkedDataHub application by following this guide: https://linkeddatahub.com/linkeddatahub/docs/get-started/

Application's base URI: %s
Your WebID profile: %s
Certificate expires on: %s


LinkedDataHub by AtomGraph
support@linkeddatahub.com]]></param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#oAuthSignUpEMailText</param-name>
        <param-value><![CDATA[Congratulations! You have successfully completed the signup on LinkedDataHub's "%s" application.

Get started with your LinkedDataHub application by following this guide: https://linkeddatahub.com/linkeddatahub/docs/get-started/

Application's base URI: %s
Your WebID profile: %s


LinkedDataHub by AtomGraph
support@linkeddatahub.com]]></param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#notificationAddress</param-name>
        <param-value><![CDATA[LinkedDataHub <notifications@linkeddatahub.com>]]></param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#requestAccessEMailSubject</param-name>
        <param-value>[%s] Request for access</param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#requestAccessEMailText</param-name>
        <param-value><![CDATA[Agent %s has requested access to the resource: %s

Manage it here: %s


LinkedDataHub by AtomGraph
support@linkeddatahub.com]]></param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/client#resolvingUncached</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/core#preemptiveAuth</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#invalidateCache</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>http://atomgraph.com/github#clientID</param-name>
        <param-value>4ec00694a7806c141816</param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/client#prefixMapping</param-name>
        <param-value>prefix-mapping.n3</param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#cookieMaxAge</param-name>
        <param-value>86400</param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#signUpCertValidity</param-name>
        <param-value>90</param-value>
    </context-param>
    <context-param>
        <param-name>https://w3id.org/atomgraph/linkeddatahub/config#insertOwnerUpdate</param-name>
        <param-value><![CDATA[
PREFIX  foaf: <http://xmlns.com/foaf/0.1/>

INSERT {
  GRAPH ?g {
    <acl/groups/owners/#this> foaf:member ?agent .
  }
}
WHERE
  { GRAPH ?g
      { <acl/groups/owners/#this> a <ns#Group>
      }
  }
]]></param-value>
    </context-param>
    <servlet>
        <servlet-name>com.atomgraph.linkeddatahub.Application</servlet-name>
    </servlet>
    <listener>
        <listener-class>com.atomgraph.core.util.jena.StartupListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.atomgraph.linkeddatahub.listener.ImportListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.atomgraph.linkeddatahub.listener.EMailListener</listener-class>
    </listener>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
        <url-pattern>/robots.txt</url-pattern>
        <url-pattern>/favicon.ico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.atomgraph.linkeddatahub.Application</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <filter>
       <filter-name>ExpiresFilter</filter-name>
       <filter-class>org.apache.catalina.filters.ExpiresFilter</filter-class>
       <init-param>
          <param-name>ExpiresByType image/jpeg</param-name>
          <param-value>access plus 1 year</param-value>
       </init-param>
       <init-param>
          <param-name>ExpiresByType image/gif</param-name>
          <param-value>access plus 1 year</param-value>
       </init-param>
       <init-param>
          <param-name>ExpiresByType image/png</param-name>
          <param-value>access plus 1 year</param-value>
       </init-param>
       <init-param>
          <param-name>ExpiresByType image/webp</param-name>
          <param-value>access plus 1 year</param-value>
       </init-param>
       <init-param>
          <param-name>ExpiresByType image/svg+xml</param-name>
          <param-value>access plus 1 year</param-value>
       </init-param>
       <init-param>
          <param-name>ExpiresByType image/x-icon</param-name>
          <param-value>access plus 1 year</param-value>
       </init-param>
       <init-param>
          <param-name>ExpiresByType video/webm</param-name>
          <param-value>access plus 1 year</param-value>
       </init-param>
       <init-param>
          <param-name>ExpiresByType video/mp4</param-name>
          <param-value>access plus 1 year</param-value>
       </init-param>
       <init-param>
          <param-name>ExpiresByType video/mpeg</param-name>
          <param-value>access plus 1 year</param-value>
       </init-param>
       <init-param>
          <param-name>ExpiresByType text/css</param-name>
          <param-value>access plus 1 year</param-value>
       </init-param>
       <init-param>
          <param-name>ExpiresByType text/javascript</param-name>
          <param-value>access plus 1 year</param-value>
       </init-param>
       <init-param>
          <param-name>ExpiresByType application/javascript</param-name>
          <param-value>access plus 1 year</param-value>
       </init-param>
    </filter>
    <filter-mapping>
       <filter-name>ExpiresFilter</filter-name>
       <url-pattern>/static/*</url-pattern>
       <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>HSTS filter</filter-name>
        <filter-class>org.apache.catalina.filters.HttpHeaderSecurityFilter</filter-class>
        <init-param>
            <param-name>hstsEnabled</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>hstsMaxAgeSeconds</param-name>
            <param-value>31536000</param-value>
        </init-param>
        <init-param>
            <param-name>hstsIncludeSubDomains</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>antiClickJackingEnabled</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>blockContentTypeSniffingEnabled</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>xssProtectionEnabled</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>HSTS filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <mime-mapping>
        <extension>xsl</extension>
        <mime-type>text/xsl;charset=UTF-8</mime-type>
    </mime-mapping>
</web-app>